/* Css بحط فيه الحاجات المكررة وبمسحها من الفايل الاساسي بتاع */

.mg-b-5{
    margin-bottom: 5px;
}

.mg-b-10{
    margin-bottom: 10px;
}

.mg-b-20{
    margin-bottom: 20px;
}

.mg-b-30{
    margin-bottom: 30px;
}

.mg-b-50{
    margin-bottom: 50px;
}

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.float-left{
    float: left;
}
.overflow-hidden{
    overflow: hidden;
}
